/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Roboto&family=Work+Sans:wght@200;300;400;500;600;800&display=swap');

/* 全站設定 */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

a {
    color: #0C0C0C;
}

.active {
    color: #58B2DC;
}

.relative {
  position: relative;
}

/* 響應式斷點 744px */

/* 導航欄 */
.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0 80px;
    position: fixed; 
    z-index: 5000;
    background-color: #fff;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.header-sm {
  display: none;
}

/* 切換導航欄 */
@media (max-width: 950px) {
    .header {
        display: none;
    }
    .header-sm {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      align-items: center;
      padding: 0 80px;
      position: fixed; 
      z-index: 5000;
      background-color: #fff;
      top: 0; /* Position the navbar at the top of the page */
      width: 100%; /* Full width */
    }

}

@media screen and (max-width: 760px) {
  .header-sm {
    padding: 0 32px;
  }
}

.header ul li a {
    display: block;
    padding: 10px 20px;
    transition: .5s;
    z-index: 1;
    position: relative;
    letter-spacing: 0.15em;
    font-weight: 500;
}

.header ul li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid #58B2DC;
    border-bottom: 2px solid #58B2DC;
    transform: scaleY(2);
    opacity: 0;
    transition: .3s;
}

.header ul li a:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #58B2DC;
    transform: scale(0);
    opacity: 0;
    transition: .3s;
    z-index: -1;
}

.header ul li a:hover {
    color: #fff;
}

.header ul li a:hover:before {
    transform: scaleY(1);
    opacity: 1;
}

.header ul li a:hover::after {
    transform: scaleY(1);
    opacity: 1;
}

.header> ul > li{
   display: inline-block;
}

/* .header> ul > li:not(:last-child) {
    margin-right: 40px;
} */

.logo > h1 > a {
    background-image: url(../templates/images/logo.svg);
    width: 60px;
    height: 90px;
    background-position: center;
    background-size: cover;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
@media screen and (max-width: 760px) {
  .logo > h1 > a {
    width: 40px;
    height: 60px;
  }
}

/* 手機板logo */
.logo-sm > h1 > a {
  background-image: url(../templates/images/logo.svg);
  width: 60px;
  height: 90px;
  background-position: center;
  background-size: cover;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}
@media screen and (max-width: 760px) {
.logo-sm > h1 > a {
  width: 40px;
  height: 60px;
}
}

/*
  Menu-lg 下拉選單
*/
.menu-lg  {
    position: relative;
}

.menu-lg .submenu-lg {
    background: #fff;
    border-radius: 0px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    left: -12px;
    list-style: none;
    margin: 0;
    opacity: 0;
    padding: 12px;
    position: absolute;
    top: 38px;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    visibility: hidden;
    width: 200px;
    z-index: 100;
  }
  
  .menu-lg:hover .submenu-lg,
  .menu-hover:hover .submenu-lg {
    opacity: 1;
    top: 44px;
    visibility: visible;
    color: #fff;
  }
  
  .menu-lg .submenu-lg:before,
  .menu-lg .submenu-lg::before {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    content: "";
    height: 0;
    left: 24px;
    position: absolute;
    top: -6px;
    width: 0;
  }
  
  .menu-lg .submenu-lg a {
    color: #777;
    display: inline-block;
    line-height: 1.2em;
    text-decoration: none;
    padding: 10px 20px;
  }
  
  .menu-lg .submenu-lg a:hover {
     color: #fff; 
  }

  /* 手機導航欄 */

/* 隱藏 checkbox */
.menuArea > input {
  display: none;
}

/* 隱藏漢堡按鈕 */
/* label {
  display: none;
} */

.menu {
  display: none;
}

/* mediaquery */
@media screen and (max-width: 950px) {
  
  nav {
    background: #fff;
    
  }

  nav::after {
    content: "";
    display: block;
    clear: both;
  }

  label {
    display: block;
    /* float: right; */
    /* padding-right: 50px; */
    line-height: 50px;
    cursor: pointer;
  }

  .bar {
    width: 50px;   
    vertical-align: middle;
    text-align: center;
    color: #0089A7;
  }


/* menu*/
  .menu {
    display: block;
/*     clear: both; */
    background: rgb(235, 235, 235);
    position: absolute;
/*      權重 */
    z-index: 100;
/*     因為 header 80 px + border 1 px，若漢堡選單要從header 下方展開就要這樣設 */
    top: 90px; 
/*     在絕對定位之下要做出滿版效果，左右都要0 */
    left: 0; 
    right: 0;
    text-align: left;
  }

  @media screen and (max-width: 760px) {
    .menu {
      top: 60px;
    }
  }
  
  .menu li {
    border-bottom: 1px solid #BDC0BA;
  }
  
  .menu a {
    width: 100%;
    display: block;
    padding: 10px 32px;
    line-height: 50px;
    font-size: 16px;
    color: #000;
  }
  /* 下拉選單效果 */
  .menu {
    max-height: 0;
    overflow: hidden;
    transition: .5s; /* 動畫秒數 */
  }

  input:checked ~ .menu {
    min-height: 1000px;
  }
  
   /* .menu-dropdown-icon:before {
     content: "\f489";
     font-family: "Ionicons";
     display: none;
     cursor: pointer;
     float: right;
     padding: 1.5em 2em;
     background: #fff;
     color: #000;
   } */
  
  .expand {
    float: right;
    padding-top: 10px;
  } 
  
  .submenu li {
    padding-left: 30px;
  }
  
  .menu-dropdown-icon:before {
    display: block;
  }
  
}
 

  /* banner */
  .banner {
    min-height: 800px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }


  @media screen and (max-width: 760px) {
    .banner {
      margin-top: 60px;
      min-height: 400px;
    }
  }

  .item {
    position: relative;
  }

  .banner-title {
    font-weight: 300;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.5em;
    position: absolute;
    top: 50%;
    right: 85px;
    transform: translate(0, -50%);
    
  }
  .banner-txt {
    position: absolute;
    /* bottom: 200px;
    border: 2px solid #f0f;
    width: 100%; */
    color: #000;
    font-weight: 300;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.5em;
    position: absolute;
    top: 50%;
    right: 85px;
    transform: translate(0, -50%);
    }

  @media screen and (max-width: 950px) {
    .banner-txt {
      font-size: 30px;
      line-height: 40px;
      letter-spacing: 0.5em;
      
    }
  }

  @media screen and (max-width: 760px) {
    .banner-txt {
      font-size: 20px;
      line-height: 48px;
      letter-spacing: 0.1em;
      right: 32px;
      margin-left: 32px;
      text-align: right;
    }
  }

  .owl-zindex {
    z-index: -1;
  }
  
  /* 查詢區 */
  #example-row {
    display: none;
  }

  .searchArea {
      position: relative;
      /* width: 100%; */
      min-height: 600px;
  }

  .search {
    width: 70%;
    background: #FFFFFF;
    box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.15);
    margin: 0 auto;

  }

  .absolute {
    position: absolute;
    top: -40%;
    left: 0;
    right: 0;
    
    text-align: center;
    width: 100%;
  }

  .search-icon {
      color: #58B2DC;
      vertical-align: middle;
      height: 30px;
      margin-right: 8px;
  }

  .title {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    padding: 64px 0 48px 0;
    text-align: center;
  }

  .gobleStyle {
    background: #FFFFFF;
    border: 1.5px solid #58B2DC;
    box-sizing: border-box;
    color: #5C5C5C;
    
  }

  .search ul {
      padding-right: 40px;
      padding-left: 40px;
      width: 100%;
      text-align: center;
  } 

  .search li{
    display: inline-block;
  }
  
  .smallCol {
    height: 60px;
    width: 30%;
  }

  .largeCol {
    height: 60px;
    width: 65%;
  }
  
  .close {
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translate(0 ,-50%);
    color:#5C5C5C;
    cursor: pointer;
  }

  .wh100 {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #fff;
  }

  .font-style {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
  }

  .input-padding {
    padding-left: 16px;
    padding-right: 16px;
  }

  /* 按鈕區塊 radio */
  .btn-add, .btnBox, .btnBox label{
    padding: 16px 24px;
    margin-top: 24px;
    margin-bottom: 24px;
    color: #3A8FB7;
    background-color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
  }

  .btn-add:hover, .btnBox label:hover {
    background-color: #3A8FB7;
    color: #fff;
  }

  .btnBox label:not(:last-child){
    margin-right: 8px;
  }

  .btn-add {
    /* margin-bottom: 0; */
    border: 1px solid #bbeaff;
  }
  .btn-add.disable{
    opacity: .5;
    pointer-events: none;

  }

  .b{
    position: relative;
    display: inline-block;
  }

  .b input{
    display: none
  }

  .b span{
      position: absolute;
      top:0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 1px solid #bbeaff;
  }

 
  .b input:checked + span{
    border: 1.5px solid #3A8FB7;
  }

  @media screen and (max-width: 760px) {
    .btnBox {
      padding: 0px;
       margin-top: 0px;
    }
    .btnBox label {
      padding: 8px;
    }
  }
  

  /* 查詢按鈕 */
  .search-box {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .search-button {
    padding: 16px 104px;
    border: 1px solid #bbeaff;
    color: #3A8FB7;
    background-color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }

  .search-button:hover {
    background-color: #3A8FB7;
    color: #fff;
  }
  
  .search-button a {
    display: block;
  }

  /* 查詢區手機板 */
  @media screen and (max-width: 760px) {

    .searchArea {
      min-height: 500px;
    }

    .search {
      width: 85%;
    }

    .search-icon {
      color: #58B2DC;
      vertical-align: middle;
      height: 20px;
      margin-right: 8px;
    }

    .title {
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 32px;
      padding: 48px 0 32px 0;
      text-align: center;
    }

    .search > ul {
      padding-right: 24px;
      padding-left: 24px;
      width: 100%;
      text-align: center;
    } 

    .font-style {
      font-size: 14px;
    }

    .btnBox button, .btn-add {
      padding: 8px 16px;
      font-size: 14px;
    }

    .btnBox button:not(:last-child) {
      margin-right: 4px;
    }

    .search-button {
      padding: 8px 80px;
      font-size: 14px;
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }

  /* footer */
  footer {
      background-color: #BDC0BA;
      padding: 48px 80px;
      margin-top: 80px;
      text-align: left;
  }

  /* .footerLogo {
    background-image: url(../templates/images/logo.svg);
    width: 50px;
    height: 80px;
    background-position: center;
    background-size: cover;
    display: inline-block;
    margin-right: 16px;
  } */

  .footerLogo img{
    width: 70px;
    transform: translate(-10px,0);
    
  }

  .footerText {
      display: inline-block;
  }

  .footerText p {
    font-style: normal;
    font-weight: 350;
    font-size: 16px;
    line-height: 28px;
    color: #0C0C0C;
    letter-spacing: .1em;
  }
  
  .copyright {
      margin-top: 40px;
  }

  .copyright > p {
      text-align: center;
      color: rgb(73, 73, 73);
      letter-spacing: .1em;
  }

  /* 手機板 */
  @media screen and (max-width: 413px) {
    footer {
      padding: 32px 32px;
    }
    .footerLogo img{
      width: 50px;
    }

    .footerText p , .copyright > p  {
      font-style: normal;
      font-weight: 350;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: .1em;
    }
  }

  /* search 頁面 */

  /* banner 區塊 */
.search-banner {
  background-image: url(../templates/images/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 544px;
  margin-top: 90px;
}

@media screen and (max-width: 760px) {
  .search-banner {
    height: 304px;
  }
}
 
/* 查詢區塊 */
.search-page {
  width: 80%;
  /* text-align: center; */
  box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.2);
  margin: 80px auto 80px auto;

}

/* Table Base */

table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.table { 
  width: 100%;
  margin-bottom: 20px;
}

.table th,
.table td {
  font-weight: normal;
  font-size: 14px;
  padding: 8px 16px;
  line-height: 20px;
  text-align: left;
  vertical-align: middle;
  border-top: 1px solid #dddddd;
}
.table thead th {
  background: #cacaca;
  /* vertical-align: bottom; */
  font-size: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}   
.table tbody > tr:nth-child(odd) > td,
.table tbody > tr:nth-child(odd) > th {
  background-color: #ebebeb;
}    
.table .t-small {
  width: 10%;
}
.table .t-medium {
  width: 25%;
}
.book-cover {
  width: 140px;
}
.table .t-status {
  font-weight: bold;
  color: #0089A7;
  cursor: pointer;
  text-decoration: underline;
}


/* Small Sizes */
@media (max-width: 617px) { 
  .table-action thead {
    display: none;
  }
  .table-action tr {
    border-bottom: 1px solid #dddddd;
  }
  .table-action td {
    border: 0;
  }
  .table-action td:not(:first-child) {
    display: block;
  }

  td.book {
    width: 140px;
  }
}

.book > img{
  width: 100%;
  height: 124px;
}

/* 頁數 */
.pagination {
  list-style: none;
  padding: 8px;
  text-align: center;
  margin-bottom: 80px;
}
.pagination a, .pagination li {
  border-radius: 0;
  color: #212121;
  display: inline-block;
  margin: 0;
  transition: .15s ease-in;
  cursor: pointer;
  text-decoration: none;
}
.pagination a:hover {
  background: #0089A7;
  color: #fff;
}
.pagination .pagination-number,
.pagination .pagination-arrow i {
  vertical-align: middle;
}
.pagination .pagination-number {
  font-family: sans-serif;
  font-size: 14px;
  text-align: center;
  line-height: 24px;
  width: 32px;
  padding: 4px 0;
}
.pagination .pagination-number.current-number {
  background: #0089A7;
  color: #fff;
}
.pagination .pagination-arrow i {
  font-size: 24px;
  padding: 4px;
}



